:root {
	--primary-color: #2FC2EF;
	--secondary-color: #657786;
	--tertiary-color: #e6ecf0;
	--border-color: #e6ecf0;
  --white-color: #ffffff;
  --grey-color: #2f2f2ffa;
  --darkgrey-color: #999999;
}
